@keyframes goodeffect {
	0 {
		opacity: 0;
		transform: scale(1);
	}
	50% {
		opacity: 0.5;
	}
	100% {
		opacity: 0;
		transform: scale(10);
	}
}

@mixin pulse {
	$frames: 5;
	$animating: 100% / $frames;
	@for $i from 0 to $frames {
		$frame: $i * $animating;
		#{$frame} {
			transform: $pillow-normal;
		}
		#{$frame+1} {
			transform: $pillow-expanded;
		}
		#{$frame+2} {
			transform: $pillow-normal;
		}
	}
}
@keyframes pulse {
  @include pulse;
}

.pulse {
	animation-name: pulse;
	animation-duration: 100s;
	animation-delay: 0s;
	animation-iteration-count: infinite;
}