* {
	margin: 0;
	padding: 0;
	list-style-type: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

html, body {
	height: 100%;
}

body {
	background: #3479C5 url(../images/bcg.png);
	color: #FFF;
	font-family: Arial, sans-serif;
}

.page {
	position: relative;
	width: 80%;
	max-width: 1000px;
	margin: 0 auto;
}

.trademark {
	position: absolute;
	top: 50px; left: 0;
	width: 239px;
	height: 85px;
	background: url(../images/logo.png) 0 0 no-repeat;
	text-indent: -1000em;
	z-index: 2;
}

$pillow-normal: rotate(45deg) scale3d(1, 1, 1);
$pillow-expanded: rotate(45deg) scale3d(1.5, 1.5, 1.5);

.recover {
	position: relative;
	height: 470px;
	margin-bottom: -25px;
	background: url(../images/sad.png) 50% 100% no-repeat;

	&.is-swallowed {
		background: none;
	}

	&:before {
		content: '';
		position: absolute;
		width: 20px;
		height: 20px;
		left: 54%;
		top: 350px;
		border-radius: 50%;
		opacity: 0;
	}
	&.is-candrop:before {
		background-color: red;
		animation: heartbeat 1s;
		animation-iteration-count: infinite;
	}

	&:after {
		position: absolute;
		left: 0; top: 0;
		content: '';
		width: 100%;
		height: 100%;
		background: url(../images/happy.png) 50% 10px no-repeat;
		visibility: hidden;
	}
	&.is-swallowed:after {
		visibility: visible;
	}

	&__pill {
		position: absolute;
		top: 260px;
		transition: opacity 1s;

		&__inner {
			position: absolute;
			overflow: hidden;
			width: 100px;
			height: 40px;
			border: 1px solid #000;
			background: linear-gradient(90deg, #F14040 50%, #000 50%, #000 51%, #DCDEDF 51%, #DCDEDF 100%);
			border-radius: 30px;
			cursor: pointer;
			transform: $pillow-normal;
		}
		&__inner--pulse {
			animation: pillowpulse 100s infinite;
		}
		&__inner:before {
			content: '';
			top: 11px;
			left: 0px;
			position: absolute;
			width: 100px;
			height: 40px;
			border-radius: 30%;
			opacity: 0.9;
			background: linear-gradient(90deg, #AF0000 50%, #000 50%, #000 51%, #B0B9C4 51%, #B0B9C4 100%);
		}
	}
	&.is-swallowed &__pill {
		opacity: 0;
	}
}

@keyframes heartbeat {
	0 {
		opacity: 0;
		transform: scale(1);
	}
	50% {
		opacity: 0.5;
	}
	100% {
		opacity: 0;
		transform: scale(10);
	}
}

@mixin pillowpulse {
	$frames: 5;
	$animating: 100% / $frames;
	@for $i from 0 to $frames {
		$frame: $i * $animating;
		@if $i == $frames { $frame: 100% - $animating }
		#{$frame} {
			transform: $pillow-normal;
		}
		#{$frame+1} {
			transform: $pillow-expanded;
		}
		#{$frame+2} {
			transform: $pillow-normal;
		}
	}
}

@keyframes pillowpulse {
  @include pillowpulse;
}

.form__field {
	margin-bottom: 20px;

	&__label {
		display: block;
		color: #8AB1DB;
		text-align: center;
		font-size: 1.1em;
	}
	&-time {
		text-align: center;
	}
}
